article > h1 {
  font-size: 4.25em;
  float: left;
}

article > h2.subtitle {
  font-size: 2.25em;
  text-align: center;
  color: #999;
}

article > .basics {
  background-color: #eee;
  clear: both;
  margin-top: 80px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  min-height: 600px;
}

article > .basics h2 {
  font-size: 100px;
  -moz-transform: rotate(270deg) translateY(-450px);
  -webkit-transform: rotate(270deg) translateY(-450px);
  -o-transform: rotate(270deg) translateY(-450px);
  -ms-transform: rotate(270deg) translateY(-450px);
  transform: rotate(270deg) translateY(-450px);
}

article > .basics .content {
  margin-top: -80px;
}

article > .basics section {
  float: left;
  height: 400px;
  margin-right: 30px;
}

article > .basics section:first-child {
  padding-left: 150px;
}

article > .basics p.info {
  margin: 30px 30px 0 150px;
  padding: 30px;
  line-height: 1.5em;
  width: 540px;
  clear: both;
}

article > .basics p.info span.icon {
  font-size: 3em;
}

article > .techniques {
  clear: both;
}

article > .techniques h2 {
  font-size: 3.25em;
  float: left;
  margin: 50px 0;
  clear: both;
}

article > .techniques h2.subtitle {
  float: left;
  margin-left: 10px;
}

article > .techniques > #techniques-accordion {
  clear: both;
}

article > .techniques section {
  border: 1px solid #eee;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px;
  width: 275px;
  float: left;
  margin-right: 15px;
}
