html {
  background: transparent url('images/brickwall.png') top left repeat;
}

body {
  /*background: transparent url('images/brickwall.png') top left repeat;*/
  font-family: 'quicksandregular', Arial, sans-serif;
  /* background-color: #FDF9ED;*/
  color: #1F1C1C;
  margin: auto;
  width: 1150px;
  padding: 30px;
}

.logo {
  font-family: 'capture_itregular', Arial, sans-serif;
  margin: auto;
  text-align: center;
}

.logo a {
  color: #1F1C1C;
  text-decoration: none;
}

header .logo {
  font-size: 6em;
  margin: 100px auto;
}

header .about {
  font-size: 1.2em;
  background: transparent url('images/splash.png') top left no-repeat;
  width: 187px;
  height: 178px;
  opacity: 0.7;
  float: right;
  position: relative;
  margin-top: -350px;
  margin-right: -100px;
  z-index: 10;
}

header .about a {
  color: white;
  display: block;
  margin: 80px 40px;
  width: 50px;
  text-align: center;
}

footer .logo {
  font-size: 2em;
}

h1, h2 {
  font-family: 'quicksandregular', Arial, sans-serif;
}

#basics section {
  float: left;
  height: 480px;
  margin-right: 30px;
  width: 300px;
}

#methods {
  clear: both;
}

#methods section {
  border: 1px solid gray;
  padding: 15px;
  width: 275px;
  float: left;
  margin-right: 15px;
}

#methods .how {
  width: 410px;
}

#methods .tips {
  margin-right: 0;
}
