html {
  background: transparent url('images/brickwall.png') top left repeat;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1F1C1C;
  margin: auto;
  width: 1150px;
  padding-top: 30px;
}

body p, body li {
  font-size: 1.2em;
  line-height: 1.6em;
}

body a, body a:hover {
  color: #888;
  text-decoration: none;
}

body a:hover {
  color: #bbb;
  text-decoration: none;
}

ul {
  padding-left: 25px;
}

.clear {
  clear: both;
}

body > .content {
  padding: 0 30px 0 30px;
}

.logo {
  font-family: 'capture_itregular', Arial, sans-serif;
  margin: auto;
  text-align: center;
}

.logo a {
  color: #1F1C1C;
  text-decoration: none;
}

header .logo {
  font-size: 6em;
  margin: 100px auto;
  max-width: 1024px;
  text-align: left;
}

header .about {
  font-size: 1.2em;
  background: transparent url('images/splash.png') top left no-repeat;
  width: 187px;
  height: 178px;
  opacity: 0.7;
  float: right;
  position: relative;
  margin-top: -350px;
  margin-right: -100px;
  z-index: 10;
}

header .about a {
  color: white;
  display: block;
  margin: 80px 40px;
  width: 50px;
  text-align: center;
}

footer .logo {
  font-size: 2em;
}

footer {

  clear: both;
  display: block;
  padding: 50px 0 20px 0;
}

h1, h2 {
  font-family: 'quicksandregular', Arial, sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

article {
  width: 1024px;
  margin: auto;
}

section#about {
  background-color: #eee;
  border: 1px dotted #ddd;
  margin: 100px auto 0 auto;
  padding: 100px 100px;
}

section#about h2 {
  margin-top: 0;
}

section#about .avatar {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

section#about .avatar img {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}
