#pickup-connections .nav-tabs {
  border-bottom: none;
}

#pickup-connections .tab-content {
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  padding: 15px;
  min-height: 200px;
}

#pickup-connections #techniques-accordion .how {
  width: 410px;
}

#pickup-connections #techniques-accordion .tips {
  margin-right: 0;
}

#pickup-connections #basics section {
  width: 200px;
}

#pickup-connections #basics section:first-child {
  width: 400px;
}

#pickup-connections #basics  #faq {
  width: 280px;
}

#pickup-connections #basics  #connection {
  width: 250px;
}

#pickup-connections #basics  .pickups {
  margin: 30px 30px 0 150px;
  padding-top: 30px;
  line-height: 1.5em;
  width: 580px;
  clear: both;
}

#pickup-connections .fast-facts .highlight {
  font-weight: bold;
  padding-right: 10px;
  font-size: 1.2em;
}

#pickup-connections .fast-facts > div {
  margin: 15px 0;
}

#pickup-connections .not-recommended, 
#pickup-connections .yes-recommended, 
#pickup-connections span.warning, 
#pickup-connections span.con, 
#pickup-connections span.pro, 
#pickup-connections span.info {
  font-size: 1.5em;
  line-height: 1.6em;
  padding-right: 10px;
}

#pickup-connections span.con {
  font-size: 1.0em;
}

#pickup-connections .how img {
  display: block;
  margin: 20px auto;
}

#pickup-connections .use-if p {
  display: inline;
}

#pickup-connections .techniques section {
  width: 275px;
}
