#pickup-connections .nav-tabs {
  border-bottom: none;
}

#pickup-connections .tab-content {
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  padding: 15px;
  min-height: 200px;
}

#pickup-connections #methods {
  clear: both;
}

#pickup-connections #methods section {
  border: 1px solid #eee;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px;
  width: 275px;
  float: left;
  margin-right: 15px;
}

#pickup-connections #methods .how {
  width: 410px;
}

#pickup-connections #methods .tips {
  margin-right: 0;
}

#pickup-connections h1 {
  font-size: 4.25em;
  float: left;
}

#pickup-connections h2.subtitle {
  font-size: 2.25em;
  float: left;
  margin-left: 10px;
  text-align: center;
  color: #999;
}

#pickup-connections #basics {
  background-color: #eee;
  clear: both;
  margin-top: 80px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  min-height: 600px;
}

#pickup-connections #basics h2 {
  font-size: 100px;
  -moz-transform: rotate(270deg) translateY(-450px);
  -webkit-transform: rotate(270deg) translateY(-450px);
  -o-transform: rotate(270deg) translateY(-450px);
  -ms-transform: rotate(270deg) translateY(-450px);
  transform: rotate(270deg) translateY(-450px);
}

#pickup-connections #basics section {
  float: left;
  height: 400px;
  margin-right: 30px;
  width: 200px;
}

#pickup-connections #basics #equipment {
  padding-left: 150px;
  width: 400px;
}

#pickup-connections #basics  #faq {
  width: 280px;
}

#pickup-connections #basics  #connection {
  width: 250px;
}

#pickup-connections #basics  .content {
  margin-top: -80px;
}

#pickup-connections #basics  .info {
  display: block;
}

#pickup-connections #basics  .pickups {
  margin: 30px 30px 0 150px;
  padding-top: 30px;
  line-height: 1.5em;
  width: 580px;
  clear: both;
}

#pickup-connections #basics  span.icon {
  font-size: 3em;
}

#pickup-connections #methods h2 {
  font-size: 3.25em;
  float: left;
  margin: 50px 0;
}

#pickup-connections h5 {
  font-weight: bold;
  font-size: 1.5em;
}

#pickup-connections .fast-facts .highlight {
  font-weight: bold;
  padding-right: 10px;
  font-size: 1.2em;
}

#pickup-connections .fast-facts > div {
  margin: 15px 0;
}

#pickup-connections .not-recommended, 
#pickup-connections .yes-recommended, 
#pickup-connections span.warning, 
#pickup-connections span.con, 
#pickup-connections span.pro, 
#pickup-connections span.info {
  font-size: 1.5em;
  line-height: 1.6em;
  padding-right: 10px;
}

#pickup-connections span.con {
  font-size: 1.0em;
}

#pickup-connections .how img {
  display: block;
  margin: 20px auto;
}

#pickup-connections .use-if p {
  display: inline;
}
